
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    color: #cacaca;
    font-size: 24px;
    height: 100vh;
    text-align: center;
    font-weight: bold;
  }
  .container{
    width: 100%;
    display: grid;
    grid-template-columns: 80px 400px auto 250px;
    grid-template-rows: 80px  auto;
    height: 100vh;
  }
  nav{
   background-color:  #343a40;
   grid-row: 2;
  }
  menu{
    background-color:  #7048e8;
    grid-column: 4/6;
    justify-self: end; 
  }
  section{
    background-color: #e9ecef;
    grid-row: 2/3;
    grid-column: ;

  }
  .button-trash{
    ]background-color: red;
  }
 button:hover{
  color: white;
  transition: 0.8s;
  background-color: gray;
 }
  
